@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Benvenuto, studente. Qui potrai visualizzare i tuoi dati personali e le informazioni sui tuoi esami.</p>
<p>Accedi alla sezione <b>Riepilogo Carriera</b> per visualizzare le tue statistiche.</p>

<br/>
<p style="color:gray;">PS: Faremo finta che tu abbia la matricola 123456 e che ci sia un sistema di autenticazione in piedi</p>
